@media only screen
and (max-width : 1420px) {

   

}

@media only screen
and (max-width : 1200px) {


    .header_holder {  justify-content: space-around; }

    .dev_info p {   width: 90%; }
    .skill_con { flex-wrap: wrap;}

    .contact_form { width: 75%;}
    #contactForm input {   width: 100%; }

}

@media only screen
and (max-width : 1010px) {



    .proj_con { width: 93%;}
    .proj_con figure img { height: auto;}

    .contact_con { flex-wrap: wrap;   justify-content: center;   flex-direction: column;   gap: 0; }
    .contact_form { margin-bottom: 40px; width: 100%;}





}

@media only screen
and (max-width : 800px) {

    .header_holder { position: static;margin: 0 auto;width: 100%;transform: unset; justify-content: space-around; flex-wrap: wrap; width: 100%;  row-gap: 50px;   flex-direction: column;}
    .header_flex { flex-wrap: wrap; width: 100%;  row-gap: 50px;   flex-direction: column; }

    ul.nav { text-align: center;flex-wrap: wrap;justify-content: center;}
    ul.nav .nav-item:hover,     ul.nav .nav-item:active { }
    .nav-link { font-size: 18px;  padding: 15px 20px;   border: 1px solid var(--darkGreen); width: 90%;border-radius: 5px;}
    .nav-link::before { height: 100%;   bottom: 0; z-index: -1;}
    .nav-link:hover, .nav-link:focus { color: #fff;}
    .main_intro { margin: 0;}

    .ftr_nav  .nav-link:hover, .ftr_nav  .nav-link:focus { background: var(--lightBrown);}
    .ftr_nav li {   padding: 0 12px; }
}


@media only screen
and (max-width : 600px) {

.marquee_holder { justify-content: space-between; }
  
  .marque_items { width: 100%; }
  
  .marque_items figure img { width: 100%; }


.ftr_nav { flex-wrap: wrap; padding: 50px 0; }
    .ftr_nav li { width: 100%; }
  
  
}