@media only screen
and (max-width : 1420px) {

   

}

@media only screen
and (max-width : 1200px) {

    .social_media { right: 35px;}

    .dev_info p {   width: 90%; }
    .skill_con { flex-wrap: wrap;}

    .contact_form { width: 75%;}
    #contactForm input {   width: 100%; }

}

@media only screen
and (max-width : 1010px) {

    .proj_con { width: 93%;}
    .proj_con figure img { height: auto;}

    .contact_con { flex-wrap: wrap;   justify-content: center;   flex-direction: column;   gap: 0; }
    .contact_form { margin-bottom: 40px; width: 100%;}

}

@media only screen
and (max-width : 800px) {

    .header_holder { position: static; }

    header .container { padding: 20px 0; }

    .social_media { position: static; margin: 0 auto; padding: 0; text-align: center;  justify-content: center; }

    .nav_menu { margin: 0;     padding: 0 5px;     text-align: center; }
    .nav_menu li {width: 40%;     margin: 5px 3px;     padding: 0 !important;}
    .nav_menu li a {     border: 1px solid var(--darkBrown);     border-radius: 5px;     line-height: 50px;     height: auto;     padding: 5px !important;   }

    ul.nav_menu li a::before {  bottom: 0; transform: scaleY(0); }
    .nav_menu .nav_item a:active, .nav_menu .nav_item a:hover { color: #fff;  }
    ul.nav_menu li a:hover:before  { transform: scaleY(1); height: 100%;  }

    .main_intro { margin: 0;}

    
    .ftr_menu { margin: 0;     padding: 0 5px;     text-align: center; }
    .ftr_menu li {width: 40%;     margin: 5px 3px;     padding: 0 !important;}
    .ftr_menu li a {     border: 1px solid var(--darkBrown);     border-radius: 5px;     line-height: 50px;     height: auto;     padding: 5px !important;   }

    ul.ftr_menu li a::before {  bottom: 0; transform: scaleY(0); display: none; }
    .ftr_menu li a:active, .ftr_menu li a:hover { color: #fff; background: var(--darkBrown); }
    ul.ftr_menu li a:hover:before  { transform: scaleY(1); height: 100%;  }


}


@media only screen
and (max-width : 600px) {

    .nav_menu li {     width: 100%; }

    .marquee_holder { justify-content: space-between; }
    .marque_items { width: 100%; }
    .marque_items figure img { width: 100%; }

  
}