
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root { 

  --priFont: "Fredoka", sans-serif;

  --lightGreen: #606c38;
  --darkGreen: #283618;
  --white: #fefae0;
  --lightBrown: #dda15e;
  --darkBrown: #bc6c25;
  --lightergrn: #81A263;

  
}


    /* Universal selector and pseudo-elements */
    *, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast; }
    
    /* Styles Preset */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
    
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
    
    body { line-height: 1; }
    
    ol, ul { list-style: none; }
    
    blockquote, q { quotes: none; }
    
    blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
    
    table { border-collapse: collapse; border-spacing: 0; }

    html { scroll-behavior: smooth; }
    
    html, body { overflow-x: hidden; }
/* End of Present */

.wrapper { width: 100%; max-width: 1440px; margin: 0 auto; position: relative; }
.sub_container { padding: 35px 0;}
.p_relative { position: relative;}
.text_center {text-align: center;}
.text_left {text-align: left;}
.text_right {text-align: right;}
.underline {text-decoration: underline;}
.px_15 { padding: 0 15px !important;}
h2 { font-size: 30px;  line-height: 100%;}
h3 { font-size: 30px; line-height: 100%;}
p {line-height: 130%; } 

.btn { border: 1px solid var(--lightBrown); transition: 0.4s ease;  padding: 0 20px; background: var(--lightBrown); color: var(--white); font-weight: 500;font-size: 23px;border-radius: 5px;line-height: 50px;display: block;width: fit-content;margin: 0 auto;text-decoration: none;}
.btn:hover { border-color: var(--lightBrown); background-color: #fff !important; color: var(--lightBrown);}

.top_line { background: #606c38; height: 50px; width: 100%; border-radius:  20px 20px 0 0; }
.top_round { height: 50px; display: flex; justify-content: start; gap: 10px; align-items: center; padding: 0 20px; }
.top_round span { display: block; border-radius: 50%; width: 10px; height: 10px; background: #fefae0 ; }


.header_holder {   left: 0;   right: 0;   top: 0;   z-index: 2;   border-radius: 0 0 20px 20px;   background: rgba(254, 250, 224, 0.2);   backdrop-filter: blur(5px);   -webkit-backdrop-filter: blur(5px); min-height: 100px; }
header { padding: 0 15px;position: relative;}
  .social_media { display: flex;justify-content: end;gap: 10px;align-items: center;position: absolute;top: 45px;right: 0;z-index: 2;}
  .social_media figure  { }
  .social_media figure img { width: 30px; height: 30px; }
  .social_media figure img:hover { transform: scale(0.9); }


nav { padding: 0 15px;}
.nav_menu {     padding: 20px 0;}
.nav_menu li { display: inline-block;vertical-align: middle; position: relative; padding: 0 10px;}
.nav_menu li a{   display: block;   font-size: 22px;   font-weight: 400;   color: #000;   text-transform: capitalize;   line-height: 60px;    position: relative;   text-decoration: none;   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;  }

.nav_menu li a::before {     content: ''; position: absolute;  width: 100%; height: 3px; border-radius: 4px; background-color: var(--lightergrn); bottom: 15px; left: 0; transform-origin: right; transform: scaleX(0); transition: transform .3s ease-in-out; right: 0;margin: 0 auto; z-index: -1;}
.nav_menu li a:hover::before { transform-origin: left; transform: scaleX(1); }

.nav_menu .nav_item a:active,  .nav_menu .nav_item a:hover { color: var(--lightergrn); }

.nav_menu li:first-child { padding-left: 0; }
.nav_menu li:last-child { padding-right: 0; }

#hamburger_menu { display: none; cursor: pointer; }
.bar { display: block; background: var(--darkBrown); width: 30px; height: 3px; margin: 5px auto; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

#main_intro {  margin-top: 115px; padding: 0 15px;}
#main_intro .container{    }

.dev_con { box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 20px; margin: 0 auto;max-width: 990px;width: 100%;}

  .dev_img { width: 300px; height: 300px; background: palegoldenrod; display: block; }
  .dev_img figure  { }
  .dev_img figure img  { }

  .dev_con::before { content: ""; position: absolute; width: 150px;height: 150px;border-radius: 50%;right: -50px;aspect-ratio: 1/1;bottom: -50px;}
  .dev_info {  border: 2px solid var(--lightGreen); border-radius: 0 0 20px 20px; background: rgba(255, 255, 255, 0.4); backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);padding: 50px 20px;}
  .dev_info p { width: 53%;margin: 30px auto;}

#skills  { }

  #skills, #projects { padding: 0 15px;}
  
  .skill_con { display: flex;justify-content: center;gap: 25px;align-items: center;padding: 200px 0;}
  .skill_con figure { background: transparent;padding: 20px;border-radius: 20px;transition: 0.5s ease;position: relative;}
  .skill_con figure img {  width: 100px; transition: 0.5s ease; }
  .skill_con figure img:hover { transform: scale(1.3); filter: brightness(1.3); }

  #projects { }

  .proj_con { max-width: 1500px;width: 100%;margin: 0 auto;  padding-bottom: 50px;}

  .proj_subcon { border-radius: 0 0 20px 20px;border: 2px solid var(--lightGreen);}
.proj_subcon h2 { margin: 20px auto;}

  .proj_holder { display: flex;justify-content: center;gap: 20px;margin: 40px 25px; flex-wrap: wrap; }
  .proj_card { max-width: 350px;width: 48%;text-align: center;border-radius: 20px;padding: 30px 10px;position: relative; transition: all .3s ease-in;   box-shadow: 5px 0px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.1);font-family: var(--priFont);background: #fff;}
  .proj_card:hover { transform: translateY(-6px);
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.1); }

  .proj_card figure { }
  .proj_card figure img.proj_frame{ width: 100%;}

  .proj_img { max-width: 300px;   height: 400px; overflow: hidden; border-radius: 20px;display: flex;justify-content: center;align-items: center;flex-direction: column;width: 100%;margin: 0 auto;}
  .proj_card iframe { width: 300px;   height: 400px; }

  .proj_info { border-top: 1px solid var(--lightergrn); margin-top: 30px;}

  .proj_card h2 { font-size: 25px;min-height: 70px;margin: 0;display: flex;justify-content: center;flex-direction: column;}
  .proj_card p { }
  .proj_card a { position: absolute;inset: 0;}


  
  #contact { background: var(--darkGreen);}
  .contact_con {  }
  
  .marquee_holder {  max-width: 520px;width: 100%;height: 786px;position: relative;display: flex;justify-content: start;gap: 5px;overflow: hidden; display: none !important;}
  .marquee_toup { max-width: 327px;height: 786px;width: 100%; position: relative;}
  .marquee_todown {  max-width: 251px;height: 786px;width: 100%; position: relative; }
  
  .marque { animation: marquee 20s linear infinite; }
  
  .marque_con{overflow:hidden;}
  .marque_box{ position:absolute; width: 100%;  }
  .marque_items{     justify-content: space-evenly;display: flex;width: fit-content;overflow: hidden;flex-direction: column;background: var(--darkGreen);}
  .marque_items figure { overflow: hidden;   width: 100%;  }
  .marque_items figure img {max-width: 250px;   margin-left: 50%;   transform: translateX(-50%); background: var(--darkGreen);  padding-bottom: 20px;}
  
  @keyframes marquee {
    0% { top: 0; }
  100% { top: -100%; }}
  
  .reverse { animation-direction: reverse; }
  
  .cnt_mail {    position: fixed;right: 30px;bottom: 30px;}


footer { background: var(--white); padding: 50px 15px;}
.ftr_menu { text-align: center;}
.ftr_menu li  { display: inline-block;vertical-align: middle; position: relative; padding: 0 40px;}
.ftr_menu li a {  display: block;   font-size: 22px;   font-weight: 400;   color: #000;   text-transform: capitalize;   line-height: 100%;    position: relative;   text-decoration: none;   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

ul.ftr_menu li a::before {     content: ''; position: absolute;  width: 100%; height: 3px; border-radius: 4px; background-color: var(--lightergrn); bottom: -2px; left: 0; transform-origin: right; transform: scaleX(0); transition: transform .3s ease-in-out; right: 0;margin: 0 auto; }
ul.ftr_menu li a:hover::before { transform-origin: left; transform: scaleX(1); }

.ftr_menu li a:active,  .ftr_menu li a:hover { color: var(--lightergrn); }

  
  
  