@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root { 

  --priFont: "Fredoka", sans-serif;

  --lightGreen: #606c38;
  --darkGreen: #283618 ;
  --white: #fefae0 ;
  --lightBrown: #dda15e;
  --darkBrown: #bc6c25;

  --color1: #365E32 ;
  --color2: #81A263 ;
  --color3: #E7D37F ;
  --color4: #FD9B63;
  --color5: #597445;
  
}



/* Styles Preset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* End of Styles Preset */

body { font-family: var(--priFont); font-size: 18px; background: #fefae0;  }
.container { padding: 0;max-width: 1440px;width: 100%;margin: 0 auto;position: relative;}
.sub_container { padding: 35px 0;}
.p_relative { position: relative;}
.text_center {text-align: center;}
.text_left {text-align: left;}
.text_right {text-align: right;}
.underline {text-decoration: underline;}
.px_20 { padding: 0 15px !important;}
h2 { font-size: 30px;  line-height: 100%;}
h3 { font-size: 30px; line-height: 100%;}
p {line-height: 130%; }




.header_holder { position: fixed;   left: 0;   right: 0;   top: 0;   z-index: 2;   border-radius: 0 0 20px 20px;   background: rgba(254, 250, 224, 0.2);   backdrop-filter: blur(5px);   -webkit-backdrop-filter: blur(5px);             }
header { padding: 0 15px;position: relative;}
  .social_media { display: flex;justify-content: end;gap: 10px;align-items: center;position: absolute;top: 45px;right: 0;z-index: 2;}
  .social_media figure  { }
  .social_media figure img { width: 30px; height: 30px; }
  .social_media figure img:hover { transform: scale(0.9); }


nav { padding: 0 15px;}
ul.nav_menu {     padding: 20px 0;}
ul.nav_menu li { display: inline-block;vertical-align: middle; position: relative; padding: 0 10px;}
ul.nav_menu li a{   display: block;   font-size: 22px;   font-weight: 400;   color: #000;   text-transform: capitalize;   line-height: 60px;    position: relative;   text-decoration: none;   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;  }

ul.nav_menu li a::before {     content: ''; position: absolute;  width: 100%; height: 3px; border-radius: 4px; background-color: var(--darkBrown); bottom: 15px; left: 0; transform-origin: right; transform: scaleX(0); transition: transform .3s ease-in-out; right: 0;margin: 0 auto; z-index: -1;}
ul.nav_menu li a:hover::before { transform-origin: left; transform: scaleX(1); }

.nav_menu .nav_item a:active,  .nav_menu .nav_item a:hover { color: var(--darkBrown); }

ul.nav_menu li:first-child { padding-left: 0; }
ul.nav_menu li:last-child { padding-right: 0; }


.hamburger_menu { display: none;}


#main_intro {  margin-top: 115px;}
#main_intro .container{    }

.dev_con { box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 20px; margin: 0 auto;max-width: 990px;width: 100%;}

  .dev_img { width: 300px; height: 300px; background: palegoldenrod; display: block; }
  .dev_img figure  { }
  .dev_img figure img  { }

  .dev_con::before { content: ""; position: absolute; width: 150px;height: 150px;border-radius: 50%;right: -50px;aspect-ratio: 1/1;bottom: -50px;}
  .dev_info {  border: 2px solid var(--lightGreen); border-radius: 0 0 20px 20px; background: rgba(255, 255, 255, 0.4); backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);padding: 50px 20px;}
  .dev_info p { width: 53%;margin: 30px auto;}

  .btn { border: 1px solid var(--lightBrown); transition: 0.4s ease;  padding: 0 20px; background: var(--lightBrown); color: var(--white); font-weight: 500;font-size: 23px;border-radius: 5px;line-height: 50px;display: block;width: fit-content;margin: 0 auto;text-decoration: none;}
  .btn:hover { border-color: var(--lightBrown); background-color: #fff !important; color: var(--lightBrown);}

#skills  { }

#skills, #projects { /*! border: 1px solid #000; */ }

.skill_con { display: flex;justify-content: center;gap: 25px;align-items: center;padding: 30px 0;}
.skill_con figure { background: transparent;padding: 20px;border-radius: 20px;transition: 0.5s ease;position: relative;}
.skill_con figure img {  width: 100px; transition: 0.5s ease; }
.skill_con figure img:hover { transform: scale(1.3); filter: brightness(1.3); }


#projects { }

.proj_con { max-width: 989px;width: 100%;margin: 0 auto;  padding-bottom: 50px;}

.top_line { background: #606c38; height: 50px; width: 100%; border-radius:  20px 20px 0 0; }
.top_round { height: 50px; display: flex; justify-content: start; gap: 10px; align-items: center; padding: 0 20px; }
.top_round span { display: block; border-radius: 50%; width: 10px; height: 10px; background: #fefae0 ; }

.proj_con figure  {border: 2px solid #606c38;  border-radius: 0 0 20px 20px;overflow: hidden;position: relative;}
.proj_con figure img { max-width: 100%;height: 55vh;}


#contact { background: var(--darkGreen);}
.contact_con {  display: flex; justify-content: space-between; gap: 20px; align-items: center; }

.marquee_holder {max-width: 520px;width: 100%;height: 786px;position: relative;display: flex;justify-content: start;gap: 5px;overflow: hidden;}
.marquee_toup { max-width: 327px;height: 786px;width: 100%; position: relative;}
.marquee_todown {  max-width: 251px;height: 786px;width: 100%; position: relative; }

.marque { animation: marquee 20s linear infinite; }

.marque_con{overflow:hidden;}
.marque_box{ position:absolute; width: 100%;  }
.marque_items{     justify-content: space-evenly;display: flex;width: fit-content;overflow: hidden;flex-direction: column;background: var(--darkGreen);}
.marque_items figure { overflow: hidden;   width: 100%;  }
.marque_items figure img {max-width: 250px;   margin-left: 50%;   transform: translateX(-50%); background: var(--darkGreen);  padding-bottom: 20px;}

@keyframes marquee {
	0% { top: 0; }
100% { top: -100%; }}

.reverse { animation-direction: reverse; }

.contact_form { max-width: 600px;border: 2px solid var(--lightGreen);background: transparent;backdrop-filter: blur(5px);border-radius: 25px;width: 100%;}
.contact_heading { padding: 30px 0;color: #fff;}
#contactForm { padding: 10px 25px; display: flex; justify-content: space-between; gap: 30px 10px; flex-wrap: wrap;}

#contactForm input { width: 46%;}
#contactForm textarea { width: 100%;height: 50px !important;padding-top: 15px;}
#contactForm input, #contactForm textarea { height: 50px;border-radius: 10px;border: 0;padding-left: 12px;overflow: hidden;font-family: var(--priFont);}
#contactForm input[type="text"] { }
#contactForm input[type="email"] { }
#contactForm button { margin: 0 auto 20px;width: 150px;}
#contactForm button:hover { }


footer { background: var(--white); padding: 50px 15px;}
.ftr_menu { text-align: center;}
.ftr_menu li  { display: inline-block;vertical-align: middle; position: relative; padding: 0 40px;}
.ftr_menu li a {  display: block;   font-size: 22px;   font-weight: 400;   color: #000;   text-transform: capitalize;   line-height: 100%;    position: relative;   text-decoration: none;   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

ul.ftr_menu li a::before {     content: ''; position: absolute;  width: 100%; height: 3px; border-radius: 4px; background-color: var(--darkBrown); bottom: -2px; left: 0; transform-origin: right; transform: scaleX(0); transition: transform .3s ease-in-out; right: 0;margin: 0 auto; }
ul.ftr_menu li a:hover::before { transform-origin: left; transform: scaleX(1); }

.ftr_menu li a:active,  .ftr_menu li a:hover { color: var(--darkBrown); }